<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/head.ejs') %>
    </head>

    <body>
        <section class="vh-100" style="background-image: linear-gradient(90deg, #508bfc, pink)">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem">
                            <div class="card-body p-5 text-center">
                                <h3 class="mb-5">Register</h3>

                                <form action="/register" method="POST">
                                    <div class="form-floating mb-4">
                                        <i class="fa-solid fa-envelope"></i>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="floatingUsername"
                                            placeholder="User Namme"
                                            name="username"
                                            required
                                        />
                                        <label for="floatingUsername">User Name</label>
                                    </div>

                                    <div class="form-floating mb-4">
                                        <i class="fa-solid fa-key"></i>
                                        <input
                                            type="password"
                                            class="form-control"
                                            id="floatingPassword"
                                            placeholder="Password"
                                            name="password"
                                            required
                                        />
                                        <label for="floatingPassword">Password</label>
                                    </div>

                                    <!-- <div class="form-floating mb-4">
                                        <i class="fa-solid fa-id-card"></i>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="number-plate"
                                            placeholder="Number Plate"
                                            name="numberPlate"
                                            required
                                        />
                                        <label for="number-plate">Number Plate</label>
                                    </div> -->

                                    <button
                                        class="btn btn-primary btn-lg btn-block"
                                        type="submit"
                                        style="background-image: linear-gradient(-90deg, #508bfc, pink)"
                                    >
                                        Register
                                    </button>
                                    <hr class="my-4" />
                                    <p>
                                        You have an account?
                                        <a href="/login" class="link-info">Sign here</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
